@page
@model w3schools.Pages.CrownAndSkullModel
@{
}

<script src="~/js/crownandskull.js"></script>

<div class="p-5 bg-primary text-white text-center">
    <h1>Jay Conrad </h1>
    <h3>Full Stack .Net Developer</h3>
    <p><i>Put my experience to work for you!</i></p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#HomePage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#FunStuff">Fun Stuff</a>
            </li>
            @*<li class="nav-item">
            <a class="nav-link" style="float:right;" data-bs-toggle="pill" href="#Login">Login</a>
            </li>*@
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="tab-content">
            <div id="chCharacterGenerator" class="tab-pane container active">
                <input type="hidden" id="HeroPoints" value="50" />
                <input type="hidden" id="FlawCount" value="0" />
                <input type="hidden" id="PreviousCoreAbility" value="-1" />
                <input type="hidden" id="MaxSkills" value="10" />
                <input type="hidden" id="MaxEquipment" value="10" />
                <input type="hidden" id="CurrentSkillCount" value="0" />
                <div class="row">
                    <div class="col-3">
                        <h2>Crown & Skull</h2>
                        <hr />
                        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#csCharGen">Character Generator</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#csManGen">Manual Character Generator</button>
                    </div>
                    <div class="col-9">
                        <div class="card collapse fade" id="csCharGen">
                            <div class="card-header">
                                <div class="container">
                                    <div class="row">
                                        <img style="height:40px;width:300px;display:inline;" src="https://crownskull.runehammer.online/assets/images/crownskulllogotexthorz.png" />
                                        <h4 class="card-title" style="font-family: 'Century Gothic'">&nbsp;&nbsp;Character Generator</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12 align-content-start">
                                                <label class="form-label" style="float:left; font-family:'Century Gothic'; font-weight:bold; display:inline;">
                                                    Hero Points:&nbsp;
                                                    <span id="dspHeroPoints">50</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 align-content-start">
                                                <label class="form-label" style="float:left; font-family:'Century Gothic'; font-weight:bold; display:inline;">Character Name<input id="txtName" class="form-control txtBoxW250" type="text" placeholder="Character Name" /></label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label class="form-label" style="float:left;font-family:'Century Gothic'; font-weight:bold;">
                                                            Lineage
                                                            <select onchange="rndLineage('#ddlLineage');" id="ddlLineage" class="form-control txtBoxW250">
                                                                
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label class="form-label" style="float:left; font-family:'Century Gothic'; font-weight:bold;">
                                                            Equipment
                                                            <select onchange="rndEquipment('#ddlEquipment');" id="ddlEquipment" class="form-control txtBoxW250">
                                                                <option value="-1">Please Select...</option>
                                                                <option value="R">Random Choice</option>
                                                                <option value="1" title="You prefer the heft and balance of 'headed' weapons, and their crushing, chopping, fighting style.">Axes and Hammers</option>
                                                                <option value="2" title="With a skilled fit, perfectly comfortable.">Armor from Head to Toe</option>
                                                                <option value="3" title="You have eschewed versatility in favor of specialization. You and your weapon are one. A focused fighter.">A Single, Huge Weapon</option>
                                                                <option value="4" title="You are outfitted with belts and pouches with all manner of implements and handy doo-dads.">Tools and Gadgets</option>
                                                                <option value="5" title="A simple kit for the pragmatic delver.">Mining Gear</option>
                                                                <option value="6" title="Clutter and encumbrance is bothersome.">Little More than Robes</option>
                                                                <option value="7" title="You are an archer through and through. You may carry a backup, smaller bow, or extra quiver, but seldom need it.">Bow and Arrow</option>
                                                                <option value="8" title="Not your only gear, but your closet ally in a pinch.">A Steel Shield</option>
                                                                <option value="9" title="You revel in oddities, artifacts, ingredients, trinkets, curios, wands, and jewelry.">Vials and Magical Baubles</option>
                                                                <option value="10" title="You carry a hefty spell book and twisted stick.">Grimoire and Staff</option>
                                                                <option value="11" title="Learned in a military fighting style, you prefer the reach, piercing, and versatility of a 10' spear, halbert, or bill hook.">A Mighty Spear</option>
                                                                <option value="12" title="So few things in this world can you trust...swords, magic, beasts? No. But these? These you can trust.">Fishing Pole, Paddle, and Net</option>
                                                                <option value="13" title="Soft materials for stealth.">Lightweight Cloak and Quiet Boots</option>
                                                                <option value="14" title="The armor kit of a soldier.">Chainmail and Emblazoned Tabard</option>
                                                                <option value="15" title="Your odd interests make this critical.">A Many-Pocketed Great-Cloak</option>
                                                                <option value="16" title="You possess a suit of protective gear from the frog empire: slat plates, leather ties, 'gunomo' undercoat.">Armor from The Marsh Lands</option>
                                                                <option value="17" title="Walk tall with a high-topped steel helmet, horsehair crest, top spike, or bannered brim.">A Bold-Crested Helm</option>
                                                                <option value="18" title="You carry a collection of beads, vestments, and blessed objects that invoke feelings of divinity.">Charms and Holy Symbols</option>
                                                                <option value="19" title="Black powder weapons are your speciality.">Flintlock Guns and Kit</option>
                                                                <option value="20" title="The curved blades, flexible steel, red-laquer hafts, and brass guards of flog-folk blades are your preferred equipment.">Froggish Weapons</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label class="form-label" style="float:left; font-family: 'Century Gothic'; font-weight:bold;">
                                                            It all started when...
                                                            <select onchange="rndMyPast('#ddlMyPast');" id="ddlMyPast" class="form-control txtBoxW250">
                                                               
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label class="form-label" style="float:left; font-family: 'Century Gothic'; font-weight:bold;">
                                                            But now I...
                                                            <select onchange="rndNowI('#ddlNowI');" id="ddlNowI" class="form-control txtBoxW250">
                                                                
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4 align-content-end">
                                        <img src="~/media/images/wally.jpg" />
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#Flaws">Flaws (Optional)</button>
                                    <div class="container collapse" id="Flaws">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-check" title="You have a specific vice you cannot deny. If you can't get your fix, the GM will ask for a roll vs. attrition in some form.">
                                                    <input onclick="toggleFlaw('#cbxAddict');" type="checkbox" class="form-check-input" id="cbxAddict" value="1" />&nbsp;&nbsp;<span>Addict</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="You frown on possessions. Never exceed 5 equipment.">
                                                    <input onclick="toggleFlaw('#cbxAescetic');" type="checkbox" class="form-check-input" id="cbxAescetic" value="2" />&nbsp;&nbsp;<span>Aescetic</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="You are old! Muscle, Jump, Climber, Breakfall, and Stealth skills may not exceed 9, but you earn respect for your advanced age.">
                                                    <input onclick="toggleFlaw('#cbxAncient');" type="checkbox" class="form-check-input" id="cbxAncient" value="3" />&nbsp;&nbsp;<span>Ancient</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="You've done things..Terrible things, and people know about it. You've done harm, broken oaths, or let someone down.">
                                                    <input onclick="toggleFlaw('#cbxBadRep');" type="checkbox" class="form-check-input" id="cbxBadRep" value="4" />&nbsp;&nbsp;<span>Bad Reputation</&nbsp;&nbsp;>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-check" title="When faced with a difficult choice, choose randomly.">
                                                    <input onclick="toggleFlaw('#cbxCrazy');" type="checkbox" class="form-check-input" id="cbxCrazy" value="5" />&nbsp;&nbsp;<span>Crazy</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="Where'd you put that? When seeking anything but your most-used items and armor, roll 9 or less on a D20 to find it.">
                                                    <input onclick="toggleFlaw('#cbxDisorganized');" type="checkbox" class="form-check-input" id="cbxDisorganized" value="6" />&nbsp;&nbsp;<span>Disorganized</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="Your drinking wavers between revelry and tomfoolery. Beer and wine drain your pockets and frustrate your friends.">
                                                    <input onclick="toggleFlaw('#cbxDrunkard');" type="checkbox" class="form-check-input" id="cbxDrunkard" value="7" />&nbsp;&nbsp;<span>Drunkard</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="You are paid or oathsworn to a lord or employer. Disobey at your own peril!">
                                                    <input onclick="toggleFlaw('#cbxEmployed');" type="checkbox" class="form-check-input" id="cbxEmployed" value="8" />&nbsp;&nbsp;<span>Employed</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-check" title="Tempted by treasure, roll 6 or less on a D20 to resist the urge.">
                                                    <input onclick="toggleFlaw('#cbxGreedy');" type="checkbox" class="form-check-input" id="cbxGreedy" value="9" />&nbsp;&nbsp;<span>Greedy</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="You have been wronged, and hold it against an individual or group, unjustly. When you encounter them, you behave terribly.">
                                                    <input onclick="toggleFlaw('#cbxGrudge');" type="checkbox" class="form-check-input" id="cbxGrudge" value="10" />&nbsp;&nbsp;<span>Grudge</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="You are impatient, leaping into situations without planning or reservation. Only take action in phase 1 or 2.">
                                                    <input onclick="toggleFlaw('#cbxImpetuous');" type="checkbox" class="form-check-input" id="cbxImpetuous" value="11" />&nbsp;&nbsp;<span>Impetuous</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="This common flaw should be taken a few times in a character's lifetime. An Injury brings a -1 maximum skill inventory.">
                                                    <input onclick="toggleFlaw('#cbxInjured');" type="checkbox" class="form-check-input" id="cbxInjured" value="12" />&nbsp;&nbsp;<span>Injured</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-check" title="Hey, I'm just a kid! Never exceed 6 skills.">
                                                    <input onclick="toggleFlaw('#cbxKid');" type="checkbox" class="form-check-input" id="cbxKid" value="13" />&nbsp;&nbsp;<span>Just a Kid</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="What's that? You hear that? You invent your own boogie men, and sew doubt among others. NPCs will be hesitant to trust you.">
                                                    <input onclick="toggleFlaw('#cbxParanoid');" type="checkbox" class="form-check-input" id="cbxParanoid" value="14" />&nbsp;&nbsp;<span>Paranoid</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="Fear of a common thing. In its presence, no roll can succeed.">
                                                    <input onclick="toggleFlaw('#cbxPhobia');" type="checkbox" class="form-check-input" id="cbxPhobia" value="15" />&nbsp;&nbsp;<span>Phobia</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="You have a nemesis out there...somewhere...hunting you.">
                                                    <input onclick="toggleFlaw('#cbxPursued');" type="checkbox" class="form-check-input" id="cbxPursued" value="16" />&nbsp;&nbsp;<span>Pursued</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-check" title="You were born frail. Survival and Resist skills cannot exceed 9.">
                                                    <input onclick="toggleFlaw('#cbxSickly');" type="checkbox" class="form-check-input" id="cbxSickly" value="17" />&nbsp;&nbsp;<span>Sickly</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="If you make up your mind, only a D20 contest with another player or NPC will sway you.">
                                                    <input onclick="toggleFlaw('#cbxStubborn');" type="checkbox" class="form-check-input" id="cbxStubborn" value="18" />&nbsp;&nbsp;<span>Stubborn</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="You'd rather let others lead. Only take action in phase 4 or 5.">
                                                    <input onclick="toggleFlaw('#cbxTimid');" type="checkbox" class="form-check-input" id="cbxTimid" value="19" />&nbsp;&nbsp;<span>Timid</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-check" title="No matter how many rabbit's feet you carry, you have a penchant for comical mishaps and crit fail on a 16+'">
                                                    <input onclick="toggleFlaw('#cbxUnlucky');" type="checkbox" class="form-check-input" id="cbxUnlucky" value="20" />&nbsp;&nbsp;<span>Unlucky</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container" id="SelFlaws">
                                        <div class="row">
                                            <div class="col-12">
                                                <span id="selFlaw1"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <span id="selFlaw2"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                                <div class="row">
                                    <div class="col-5" style="margin-top:5px;">
                                        <label class="form-label" style="float:left; font-family: 'Century Gothic'; font-weight:bold;">
                                            Core Ability:&nbsp;&nbsp;
                                            <select onchange="calcHeroPoints('#ddlCoreAbility');" id="ddlCoreAbility">
                                                <option value="-1">Please Select</option>
                                                <option value="R">Random Choice</option>
                                                <option value="1" title="You have been trained as a soldier who knows how to hit hard. When you roll maximum damage, roll again. There is no limit to the number of times the dice can 'explode.'">Battlemaster</option>
                                                <option value="2" title="You are fast, efficient, and adept at taking on multiple opponents in close quarters. All of your melee attacks may hit 2 foes with a single damage roll.">Brutal Fighter</option>
                                                <option value="3" title="Master of wilderness. Gain the Tracking and Hunting skills for free, each at 9. When outdoors, gain +3 on all skills.">Druid</option>
                                                <option value="4" title="You have masterful intuition. Gain the Investigation, Streetwise, and Oratory skills at a value of 7 for free.">Empath</option>
                                                <option value="5" title="You blend into shadows with ease. When enemies are attacking you and your allies, they will target you last.">Go Unnoticed</option>
                                                <option value="6" title="A master of finding ways through rock and cavern. Gain the Climber and Breakfall skills at 10. In mountains or underground, you also have a Scout skill of 15.">Mountaineer</option>
                                                <option value="7" title="Your Faith skill grows by 2 with a successful cast, and maxes at 16. Additionally, destroy 1D6 weak undead (such as zombies, shamblers, or skeletons) as an Exhausting spell.">Paragon of Faith</option>
                                                <option value="8" title="When using a shield, change a failed Defense roll by an ally into a success once per round, if they are nearby.">Protector</option>
                                                <option value="9" title="You cast spells with flair and oratory. You can never use 'silent' or 'still' spells. As a default, though, your spells work on a target that can HEAR you cast. Upgrade from there as normal.">Spellsinger</option>
                                                <option value="10" title="Roll an extra damage die with all ranged weapons, and ignore 1 DEF on all targets when using ranged weapons.">Uncanny Shot</option>
                                                <option value="11" title="When a combat encounter starts, choose 1 ally. Inspire them with a command to fight! Their first attack does maximum damage, and they cannot be harmed for the remainder of that round.">Veteran Commander</option>
                                                <option value="12" title="You don't just cast spells; you are a conduit of incredible power. When casting, effects and outputs of all magic you cast are maximized on a Magic skill roll of 6 or less on a D20.">Wizard Savant</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-7">
                                        <span id="dspCoreAbility" style="font-family:'Century Gothic'"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" style="margin-top:5px;">
                                        <label class="form-label" style="float:left; font-family: 'Century Gothic'; font-weight:bold;">
                                            Skills:&nbsp;&nbsp;
                                            <select id="ddlSkills">
                                               
                                            </select>
                                            <button type="button" onclick="addSkill('#ddlSkills');" class="btn btn-primary">Add</button>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="modal" id="skillErrorModal">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content redDoubleBorder">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title text-danger">NOTICE!</h4>
                                                        <button type="button" class="btn-close" onclick="$('#skillErrorModal').hide();" data-bs-dismiss="modal"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <span class="text-primary text-bold" id="skillModalMsg">Test Message</span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" onclick="$('#skillErrorModal').hide();" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="selSkills" class="table-info" style="max-width:contain;">
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card collapse fade" id="csManGen">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>